h2 {
    color: #a0a8b3;
}

.cardsBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    overflow: hidden;
}

.card {
    align-items: center;
    box-shadow: 1px 1px 5px rgba(72, 69, 69, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
    min-height: 450px;
    min-width: 250px;
    width: 30%;
}

.cardButton {
    align-self: end;
}

.removeBtn {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: #1c1d21;
    border-radius: 2px;
    font-family: inherit;
    line-height: inherit;
    transition: 0.4s;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    border: 0 none;
    color: #FF014F;
    text-transform: uppercase;
}

.removeBtn:hover {
    color: #a0a8b3;
    border: 1px solid #FF014F;
    transform: translateX(-7px);
    transition: 0.3s;
}

.cardContainer {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 300px;
}

.cardsContainer_img {
    margin-right: 10px;
    margin-bottom: 10px;
}

.card img {
    width: 270px;
    height: 270px;
    object-fit: cover;
    border-radius: 7px;
}

.modalWindow {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid  #a0a8b3;
    width: 80%;
}

.cardDescription {
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}