html {
    background-color: #141519;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #a0a8b3;
    text-transform: uppercase;
}

